@model Library.Models.BorrowedBookModel

@{
    ViewData["Title"] = "Borrow";
}


<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Borrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                   <label>ISBN</label>
                  <input asp-for="ISBN" class="form-control" />             
            </div>  
            <div class="form-group" style="margin-top:20px">
                <input type="submit" value="Borrow" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
